<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2><%= blog.blogTitle  %> </h2>
    <br />
    <p><%= blog.blogBody  %> </p>
    <a class="my-button" id="deleteBlog" data-blogid="<%=blog.id %>"><p>Delete Blog</p> </a>
    <a class="my-button-edit" href="/blogs/edit-blog/<%=blog.id %> "id="editBlog" data-blogid="<%=blog.id %>"><p>Edit Blog</p> </a>
  </div>

<script src="../clientSide.js"></script>
</body>
</html>